# Module Curation Managers have authority to review changes to the curation system, 
# but not the items in the registry. See https://app.hatsprotocol.xyz/trees/10/1?hatId=1.2.4.5
# Note that the last matching pattern takes the most precedence, so ownership of 
# lines 9 and 10 falls exclusively to the Module Registry Curators
*             @module-curation-managers

# Module Registry Curators have authority to review submissions and changes to items 
# in the registry, but not the curation system. See https://app.hatsprotocol.xyz/trees/10/1?hatId=1.2.4.4
/modules/**   @modules-registry-curators
/modules.json @modules-registry-curators
